body{
    font-family: 'Times New Roman';
    border: 2px solid black;
    padding: 20px;
}

h1{
    color: blue;
}
.link{
    text-align: right;
    color: blue;
}
.link a{
    color: blue;
    text-decoration: none;
}