body{
    font-family: 'Times New Roman';
}

h1{
    color: blue;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.image {
    width: 250px;
    height: 130px;
    flex-shrink: 0;
    border: 1px solid black;
}

.text-content {
    flex: 1;
}

.link{
    text-align: right;
}


.place{
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}