body{
    border: 1px solid black;
    margin-left: 500px;
    margin-right: 500px;
}

h1{
    text-indent: 10px;
    padding-left: 10px;
}
h2{
    text-indent: 10px;
    padding-left: 10px;
}
p{
    text-indent: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.menu {
    padding: 0;
    width: auto;
    background-color: rgb(45, 45, 45);
    overflow: hidden;
}

.menu li {
    display: inline-block;
    margin-right: 5px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 45);
    font: 13px Arial, sans-serif;
    font-weight: bold;
    display: block;
    padding: 8px 12px;
    line-height: 30px;
}

.menu a:hover {
    color: black;
    background-color: white;
}