body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.page {
    display: grid;
    grid-template:
        "header header header" auto 
        " main  main  aside  " 1fr
        "footer footer footer" auto
        / 2fr 50px 350px;
    min-height: 100vh;
    gap: 16px;
    padding: 16px;
}

header {
    grid-area: header;
    background: #fff;
    padding: 24px 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;    
    gap: 16px;              
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 100px;
}

header h1 {
    font-size: 1.8rem;
    color: #222;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;      
    padding: 0;    
}

nav a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

main { 
    flex: 1;
    margin: 0 10px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

article {
    padding: 30px;
    display: flex;
    justify-content: center;
}

section {
    margin-bottom: 32px;
}

aside {
    grid-area: aside;
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

aside h2 {
    margin-bottom: 16px;
    font-size: 1.3rem;
    color: #444;
}

aside p {
    margin-bottom: 12px;
    font-size: 0.95rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section {
    display: flex;
    justify-content: center;
    column-gap: 0px;
}

.mondrian-canvas {
    width: 320px;
    height: 320px;
    background-color: black;
    border: 7px solid black;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    gap: 6px;
    border-radius: 8px;
}

.bg-red {
    background-color: #da251d;
}
.bg-blue {
    background-color: #005f9e;
}
.bg-yellow {
    background-color: #f4d000;
}
.bg-white {
    background-color: #f4f4f4;
}
.bg-black {
    background-color: #0a0a0a;
}

  /* Картина 1 */
.p1-1 {
    grid-area: 1 / 1 / 7 / 9;
} /* Красный левый верх */
.p1-2 {
    grid-area: 1 / 9 / 4 / 14;
} /* Белый верх */
.p1-3 {
    grid-area: 3 / 9 / 7 / 14;
} /* Белый верх */
.p1-4 {
    grid-area: 1 / 14 / 7 / 21;
} /* Белый широкий верх */
.p1-5 {
    grid-area: 1 / 21 / 11 / 25;
} /* Белый правый край */
.p1-6 {
    grid-area: 7 / 1 / 11 / 9;
} /* Белый под красным */
.p1-7 {
    grid-area: 11 / 1 / 16 / 9;
} /* Белый левый центр */
.p1-8 {
    grid-area: 7 / 9 / 16 / 21;
} /* Синий центр */
.p1-9 {
    grid-area: 16 / 1 / 19 / 9;
} /* Черный левый */
.p1-10 {
    grid-area: 11 / 21 / 19 / 25;
} /* Желтый правый край */
.p1-11 {
    grid-area: 19 / 1 / 25 / 4;
  } /* Желтый левый низ */
.p1-12 {
    grid-area: 19 / 4 / 25 / 9;
} /* Белый низ левее центра */
.p1-13 {
    grid-area: 16 / 9 / 25 / 21;
} /* Красный нижний */
.p1-14 {
    grid-area: 19 / 21 / 25 / 25;
} /* Белый правый низ */

  /* Картина 2 */
.p2-1 {
    grid-area: 1 / 1 / 19 / 17;
} /* Огромный красный */
.p2-2 {
    grid-area: 1 / 17 / 8 / 25;
} /* Желтый верхний правый */
.p2-3 {
    grid-area: 8 / 17 / 19 / 21;
} /* Белый правый 1 */
.p2-4 {
    grid-area: 8 / 21 / 19 / 25;
} /* Белый правый 2 */
.p2-5 {
    grid-area: 19 / 1 / 25 / 5;
} /* Черный левый низ */
.p2-6 {
    grid-area: 19 / 5 / 25 / 17;
} /* Белый нижний центр */
.p2-7 {
    grid-area: 19 / 17 / 25 / 25;
} /* Белый правый низ */

  /* Картина 3 */
.p3-1 {
    grid-area: 1 / 1 / 4 / 6;
} /* Белый 1 */
.p3-2 {
    grid-area: 1 / 5 / 4 / 9;
} /* Белый 2 */
.p3-3 {
    grid-area: 4 / 1 / 14 / 5;
} /* Белый 3 */
.p3-4 {
    grid-area: 4 / 5 / 14 / 9;
} /* Белый 4 */
.p3-5 {
    grid-area: 14 / 1 / 21 / 9;
} /* Желтый левый центр */
.p3-6 {
    grid-area: 21 / 1 / 25 / 5;
} /* Белый левый низ */
.p3-7 {
    grid-area: 21 / 5 / 25 / 9;
  } /* Черный низ */
.p3-8 {
    grid-area: 1 / 9 / 4 / 20;
  } /* Белый верх над синим */
.p3-9 {
    grid-area: 1 / 20 / 4 / 25;
  } /* Черный правый верх */
.p3-10 {
    grid-area: 4 / 9 / 21 / 25;
  } /* Огромный синий */
.p3-11 {
    grid-area: 21 / 9 / 25 / 25;
  } /* Белый низ широкий */

  /* Картина 4 */
.p4-1 {
    grid-area: 1 / 1 / 15 / 8;
  } /* Красный левый */
.p4-2 {
    grid-area: 15 / 1 / 19 / 8;
  } /* Белый левый 1 */
.p4-3 {
    grid-area: 19 / 1 / 22 / 8;
  } /* Белый левый 2 */
.p4-4 {
    grid-area: 22 / 1 / 25 / 8;
  } /* Черный левый низ */
.p4-5 {
    grid-area: 1 / 8 / 5 / 21;
  } /* Желтый верх центр */
.p4-6 {
    grid-area: 5 / 8 / 15 / 14;
  } /* Белый центр 1 */
.p4-7 {
    grid-area: 5 / 14 / 15 / 21;
  } /* Белый центр 2 */
.p4-8 {
    grid-area: 15 / 8 / 19 / 21;
  } /* Белый центр низ */
.p4-9 {
    grid-area: 19 / 8 / 25 / 21;
  } /* Синий нижний центр */
.p4-10 {
    grid-area: 1 / 21 / 13 / 25;
  } /* Красный правый */
.p4-11 {
    grid-area: 13 / 21 / 22 / 25;
  } /* Белый правый */
.p4-12 {
    grid-area: 22 / 21 / 25 / 25;
} /* Желтый правый низ */

footer {
    grid-area: footer;
    background: #333;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

footer nav ul {
    display: flex;
    gap: 16px;
    margin-left: 700px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}